<%= turbo_frame_tag "playlist_interface", class: "flex flex-col h-screen justify-between" do %>
  <img src="<%= @track.album.images.second.dig("url") %>">

  <p><%= @track.name %></p>
  <p><%= @track.artists.map(&:name).join(", ") %></p>

  <%= form_with model: @vote, url: create_vote_playlist_path(@playlist.id) do |form| %>

    <%= form.hidden_field :spotify_track_id %>
    <%= form.select :guess, options_for_select(@playlist_users.map { |id, display_name| [display_name, id] }) %>

    <%= form.submit %>
  <% end %>

  <%= render 'navigation' %>
<% end %>
